@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#scrollbar::-webkit-scrollbar {
  /* display: none !important; */
  /* background: red;  */
  /* border-radius: 10px; */
  width: 3px;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 0);
}
#scrollbar::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  /* border-radius: 10px; */

  background-color: black;
}

#scrollbar::-webkit-scrollbar:horizontal {
  display: none;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

/* improvePane.js button */

.boldSpan {
  font-weight: bold;
}

.notBoldSpan {
  font-weight: normal;
}

.hoverGreen:hover {
  color: green;
}
.whiteIcon {
  color: white;
}
.hoverRed:hover {
  color: red;
}

#child-container-padding-remove
  > div.ant-collapse-content.ant-collapse-content-active
  > div {
  padding: 0px 10px;
  background-color: #80808012;
}
.wider-list-item {
  margin-left: 5px !important;
}
.vert-center {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/* <============================== ANTD CUSTOM CSS ==============================> */

#exportPanel > div.ant-collapse-content.ant-collapse-content-active > div {
  padding: 0 16px !important;
}

#exportPanel > div.ant-collapse-header > i {
  color: white;
}
#SettingsSideBarJS > div > div > div.ant-anchor-ink:before {
  display: none;
}

#plagiarismPanel
  > div.ant-list.demo-loadmore-list.ant-list-split > div > div > div:nth-child(n) > div > div > div > div:nth-child(n) > div.ant-col-22 > div > div > div, #plagiarismPanel
  > div.ant-list.demo-loadmore-list.ant-list-split > div > div > div:nth-child(n) > div > div > div > div:nth-child(n) > div.ant-col-14 > div > div > div {
  font-size: 8px;
  line-height: 15px;
}

/* fixes the overlay problem in the collapsible panel */
#plagiarismPanel
  > div.ant-collapse
  > div
  > div.ant-collapse-content.ant-collapse-content-active
  > div {
  padding: 0;
  border-bottom: none;
}
#plagiarismPanel > div.ant-collapse > div > div.ant-collapse-content.ant-collapse-content-active > div > div:nth-child(1) > div:nth-child(1){
  padding-left: 5px;
}

.feedbackSelection:hover {
  background: #64C995;
  cursor: pointer
}

/* #plagiarismPanel > div.ant-list.demo-loadmore-list.ant-list-split > div > div > div:nth-child(2) */


.statCircleHoverClass:hover {
  background: green;
  color: white !important;
}

.mainDocumentCards > ul > li {
  margin: 0;
  padding: 5px
}
.mainDocumentCards > ul > li > span > .anticon,
.mainDocumentCards > ul > li > span {
  line-height: 0
}

.mainDocumentCards > div.ant-card-cover {
  min-height: 89px;
}

.ant-message {
    padding-left: 280px !important;
}

.addModule:hover { 
  background:green;
  box-shadow: 1px  1px grey;
  color: white;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis; 
}

.ant-anchor-link {
  line-height: 1.5rem !important;
}

/* <================================= tutorial carousel ==================================> */

.ant-carousel .slick-slide {
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: green;
} 

.slider-navigation {
  height: 100vh;
  display: flex !important;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.slider-navigation:hover { 
  background-color: #f5f5f5
}
